In [7]:
from pyspark.sql import SparkSession

In [10]:

# Start Spark session
spark = SparkSession.builder \
    .appName("NYC Taxi Batch July 2025") \
    .getOrCreate()

WARNING: Using incubator modules: jdk.incubator.vector
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/08/29 01:45:14 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [12]:
# 2. Load NYC Taxi data (update path to your file)
df = spark.read.parquet("/Users/shubhangipanda/Documents/Projects/nyc-taxi-spark/data/raw/yellow_tripdata_2025-07.parquet")

In [13]:
# 3. Check schema
df.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- tpep_pickup_datetime: timestamp_ntz (nullable = true)
 |-- tpep_dropoff_datetime: timestamp_ntz (nullable = true)
 |-- passenger_count: long (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: long (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: long (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- Airport_fee: double (nullable = true)
 |-- cbd_congestion_fee: double (nullable = true)

In [14]:
# 4. Show first 5 rows
df.show(5)

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Airport_fee|cbd_congestion_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+
|       1| 2025-07-01 00:29:37|  2025-07-01 00:45:30|              1|          7.3|         1|                 N|         138|          74|           1|       29.6| 7.75|    0.5|       9.0|        6.94|                  1.0|       54.79|                 0.0|       1.75|               0.0|
|       1| 2025-07-01 00:23:28|  2025-07-01 01:07:44|              1|         17.7|         2|                 N|         132|         142|           1|       70.0| 4.25|    0.5|       5.0|         0.0|                  1.0|       80.75|                 2.5|       1.75|               0.0|
|       2| 2025-07-01 00:53:50|  2025-07-01 01:27:12|              1|         9.98|         1|                 N|         138|          48|           1|       43.6|  6.0|    0.5|     10.87|         0.0|                  1.0|       66.97|                 2.5|       1.75|              0.75|
|       2| 2025-07-01 00:58:49|  2025-07-01 01:15:55|              1|        10.27|         1|                 N|         138|         229|           1|       38.7|  6.0|    0.5|      14.1|        6.94|                  1.0|       72.24|                 2.5|       1.75|              0.75|
|       2| 2025-07-01 00:09:22|  2025-07-01 00:23:54|              1|         2.94|         1|                 N|         211|          97|           1|       17.0|  1.0|    0.5|       3.0|         0.0|                  1.0|       25.75|                 2.5|        0.0|              0.75|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+
only showing top 5 rows

In [15]:

# 5. Row count
print("Total rows:", df.count())

Total rows: 3898963

In [16]:

# 6. Quick stats
df.describe(["trip_distance", "fare_amount", "total_amount"]).show()

+-------+------------------+------------------+------------------+
|summary|     trip_distance|       fare_amount|      total_amount|
+-------+------------------+------------------+------------------+
|  count|           3898963|           3898963|           3898963|
|   mean|7.1047555542320975|18.547692047860266|26.827440152669062|
| stddev| 670.0147514855905|20.071383594139693| 24.27460514817624|
|    min|               0.0|           -1591.3|          -1634.75|
|    max|         397994.37|            2495.0|           5297.87|
+-------+------------------+------------------+------------------+

In [18]:
# 7. Save a smaller sample (for faster testing)
sample_df = df.limit(10000)
sample_df.write.mode("overwrite").parquet("/Users/shubhangipanda/Documents/Projects/nyc-taxi-spark/data/processed/sample_july2025.parquet")